// place your custom styles here
@font-face {
    font-family: 'PingFangLaiJiangHuFeiYangTi';
    src: url('/assets/fonts/PingFangLaiJiangHuFeiYangTi.woff') format('woff');
    unicode-range: U+71D5, U+6816, U+5C7F; // 燕, 栖, 屿
}

.vp-blog-hero-title {
    font-family: 'PingFangLaiJiangHuFeiYangTi', sans-serif;
    font-size: 4rem;

    @media (max-width: 768px) {
        font-size: 3.5rem;
    }

    & {
        font-size: 4rem;
    }
}